<div class="container">
    <div class="row">
       <form #empForm="ngForm" (ngSubmit)="onAddNewEmployee(empForm)">
        <div class="mb-3">
            <label for="id" class="form-label"></label>
            <input type="text" class="form-control" placeholder="iD" 
            name="id" ngModel required #id="ngModel">
            <div *ngIf="id.touched && id.invalid">required</div>
            
        </div>

        <div class="mb-3">
            <label for="name" class="form-label"></label>
            <input type="text" class="form-control" placeholder="Name"
            name="name" ngModel required #name="ngModel">
            <div *ngIf="name.touched && name.invalid">required</div>
        </div>

        <div class="mb-3">
            <label for="imagePath" class="form-label"></label>
            <input type="text" class="form-control" placeholder="Image url"
            name="imagePath" ngModel required #imagePath="ngModel">
            <div *ngIf="imagePath.touched && imagePath.invalid">required</div>
        </div>

        <div class="mb-3">
            <label for="designation" class="form-label"></label>
            <input type="text" class="form-control" placeholder="designation"
            name="designation" ngModel required #designation="ngModel">
            <div *ngIf="designation.touched && designation.invalid">required</div>
        </div>
        
        <div class="mb-3">
            <label for="address" class="form-label"></label>
            <input type="text" class="form-control" placeholder="address"
            name="address" ngModel required #address="ngModel">
            <div *ngIf="address.touched && address.invalid">required</div>
        </div>

        <div class="mb-3">
            <label for="mobNo" class="form-label"></label>
            <input type="text" class="form-control" placeholder="Mobile Number"
            name="mobNo" ngModel required minlength="10" #mobNo="ngModel">
            <div *ngIf="mobNo.touched && mobNo.invalid">required</div>
            <div *ngIf="id.errors?.['required']"> required</div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label"></label>
            <input type="text" class="form-control" placeholder="location"
            name="location" ngModel required #location="ngModel">
            <div *ngIf="location.touched && location.invalid">required</div>
        </div>


        <div class="col-auto">
            <button class="btn btn-primary">Add New Employee</button>
        </div>
    </form>
    </div>
</div>

