<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div>
                    <h4>{{employee.name}}</h4>
                </div>
                <span>
                    <img class="profilePhoto" [src]="employee.imagePath" alt="{{employee.name}}">
                </span>

                <h5>Id: {{employee.id}}</h5>

                <h6>{{employee.designation}}</h6>

            </div>

        </div>

    </div>

</div>